.film{
  margin-left: 30px;
  margin-right: 30px;

  .film-info{
    width: inherit;

    .film-image{
      position: relative;
      width: 100%;
      margin: 0;

      .film-db-link {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #e0e0e0;
        font-size: 1.5rem;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          color: #ff6b6b;
        }
    }

      .film-title{
        position: absolute;
        box-sizing: border-box;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        width: 100%;
        top: 0;
        font-size: 23pt;
        padding: 22px 25px 22px 25px;

        .film-title-year{
          font-style: normal;
        }
      }

      picture{
        width: inherit;
        display: flex;
        
        img{
          width: inherit;
          object-position: top;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          max-height: 280px;
          object-fit: cover;
        }
      }
    }
  }
}