.film-item {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.35); /* Dark overlay */
        transition: background 0.2s;
        z-index: 1;
    }

    &:hover::before {
        background: rgba(0, 0, 0, 0); /* Remove overlay on hover */
    }
}

.film-item:hover {
    transform: scale(1.05);
}

.film-item img {
    width: 100%;
    border-radius: 8px;
    position: relative;
    z-index: 0;
}

.film-item figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    font-size: 1.2em;
    color: #e0e0e0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blurred background */
    text-align: center;
    box-sizing: border-box;
    z-index: 2;
}

.song-count {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #e0e0e0;
    font-size: 0.9em;
    border-radius: 4px;
    z-index: 2;
}

.film-item.small {
    max-height: 220px; /* Adjust height as needed */
}

.film-item.normal {
    max-height: 240px; /* Adjust height as needed */
}

.film-item.big {
    max-height: 300px; /* Adjust height as needed */
}