:root {
    --left-bar-width: 19.7vw;
    --right-bar-width: 19.7vw;
}

.main-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--left-bar-width) 1fr var(--right-bar-width);
    transition: grid-template-columns 0.3s ease-in-out;
}

.left-bar, .right-bar {
    z-index: 999;
    transition: width 0.3s ease-in-out;
}

.left-bar.collapsed, .right-bar.collapsed {
    width: 50px;
    overflow: hidden;
}

.toggle-button {
    position: absolute;
    top: 1%;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.toggle-button:hover {
    background: rgba(255, 255, 255, 0.2);
    scale: 1.1;
}

.toggle-button:active {
    scale: 0.9;
}

.left-bar .toggle-button {
    left: 92%; /* Moves slightly outside */
}

.right-bar .toggle-button {
    right: 92%;
}

.left-bar.collapsed .toggle-button {
    left: 10px;
}

.right-bar.collapsed .toggle-button {
    right: 10px;
}

.loading {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-in-out;
    height: fit-content;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
