@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
  margin: 0;
  background-color: #181818; /* Dark background color */
  color: #d2dae2; /* Light text color */
  cursor: default;
  font-family: 'Roboto', sans-serif;
}

.left-bar {
  background-color: #202020; /* Darker background for sidebars */
  position: fixed;
  display: grid;
  grid-auto-flow: dense;
  grid-template-rows: 1fr;
  height: 100vh;
  max-width: 19.7vw;
  width: 100%;
}

.left-menu {
  margin: 30px;
  list-style: none; /* Remove dots from list items */

  .main-logo {
    margin-top: 30px;
    margin-bottom: 45px;
  }

  ul{
    padding: 0;
  }

  li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    .menu-icon {
      margin-right: 10px;
      font-size: 18px;
    }
  }

  a {
    color: #d2dae2; /* Light text color */
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;

    &:hover {
      background-color: #2a2a2a; /* Darker background on hover */
      color: #ffffff; /* White text color on hover */
    }

    &.active {
      background-color: #3c4858; /* Active link background color */
      color: #ffffff; /* White text color for active link */
    }
  }
}

.right-bar {
  background-color: #202020; /* Darker background for sidebars */
  position: fixed;
  display: grid;
  height: 100vh;
  max-width: 19.7vw;
  width: 100%;
  right: 0;
}

.main-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(100px, 19.7vw) 1fr minmax(100px, 19.7vw);
  height: 100vh;

  .header {
    margin-right: 30px;
    margin-left: 30px;

    .search-bar {
      background-color: #202020; /* Darker background for search bar */
      padding: 20px 25px;
      margin-bottom: 45px;
      margin-top: 30px;
      border-radius: 8px;

      input {
        box-sizing: border-box;
        width: 100%;
        color: #d2dae2; /* Light text color */
        background-color: #2a2a2a; /* Darker background for input */
        border: none;
        border-radius: 5px;
        font-size: 18px;
        padding: 8px 15px;
      }
    }
  }

  .content-container {
    display: grid;
    width: 100%;
    grid-column-start: 2;
    grid-template-rows: auto 1fr auto;
  }

  .footer {
    text-align: right;
    margin: 10px 30px;
  }
}