.player {
  position: sticky;
  background-color: #252525;
  max-height: 140px;
  width: 100%;
  bottom: 0;
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-top: 15px;
  border-top: 1px solid #e0e0e03b;

  .player-integration {
    display: none;
  }

  .player-manipulation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .player-left-part {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;

      .control {
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .play-icon {
          font-size: 28px;
          color: #ff6b6b;
          transition: color 0.2s;

          &:hover {
            color: #e0e0e0;
          }

          &::after{
            content: "";
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            height: 45px;
            width: 45px;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      picture {
        display: flex;
        
        img {
          height: 60px;
          object-fit: cover;
          width: 60px;
          border-radius: 50%;
        }
      }
    }

    .player-right-part {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 10px;
      padding-left: 20px;

      .top-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: #e0e0e0;
          font-size: 16px;
          flex-grow: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-right: 20px;
        }

        .volume-control {
          display: flex;
          align-items: center;
          gap: 12px;

          .volume-icon {
            font-size: 20px;
            cursor: pointer;
            color: #e0e0e0;
            transition: color 0.2s;

            &:hover {
              color: #ff6b6b;
            }
          }

          .player-volume-bar {
            width: 65px;
            -webkit-appearance: none;
            appearance: none;
            height: 6px;
            background-color: #444;
            border-radius: 3px;
          }

          .player-volume-bar::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 12px;
            height: 12px;
            background: #ff6b6b;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            top: -3px; /* Adjust to center the thumb */
            overflow: visible;
          }
        }
      }

      .bottom-controls {
        display: flex;
        align-items: center;
        gap: 15px;

        .control-icon {
          font-size: 20px;
          cursor: pointer;
          color: #e0e0e0;
          transition: color 0.2s;

          &:hover {
            color: #ff6b6b;
          }

          &.active {
            color: #ff6b6b;
          }
        }

        .player-seek-bar {
          flex-grow: 1;
          height: 6px;
          -webkit-appearance: none;
          appearance: none;
          background-color: #444;
          border-radius: 3px;
        }

        .player-seek-bar::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 14px;
          height: 14px;
          background: #ff6b6b;
          border-radius: 50%;
          cursor: pointer;
          position: relative;
          top: -4px; /* Center the thumb */
          overflow: visible;
        }

        span {
          color: #e0e0e0;
          font-size: 14px;
          white-space: nowrap;
        }
      }
    }
  }

  input[type='range'] {
    overflow: visible;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: #444;
    border-radius: 3px;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 6px;
    -webkit-appearance: none;
    color: transparent;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 14px;
    -webkit-appearance: none;
    height: 14px;
    cursor: pointer;
    background: #ff6b6b;
    border-radius: 50%;
    position: relative;
    top: -4px; /* Center the thumb */
    overflow: visible;
  }

  input[type="range"]::-moz-range-progress {
    background-color: #ff6b6b;
  }
  input[type="range"]::-moz-range-track {
    background-color: #444;
  }
  input[type="range"]::-ms-fill-lower {
    background-color: #ff6b6b;
  }
  input[type="range"]::-ms-fill-upper {
    background-color: #444;
  }
}
